# A work in progress notebook for entity linking

(Submission is currently in progress, looks like we have to lowercase all queries before linking the entities, currently discussing this with Marcel)

In [ ]:
# Only needed in Colab, in codespaces everything is already installed.
!pip3 install python-terrier tira ir-datasets

In [2]:
import pyterrier as pt

if not pt.started():
  pt.init()

from tira.rest_api_client import Client
tira = Client()

In [3]:
dataset = pt.get_dataset("irds:disks45/nocr/trec-robust-2004")
topics = dataset.get_topics(variant='title')

In [4]:
query_entity_linking = tira.pt.transform_queries('ir-benchmarks/marcel-gohsen/entity-linking', dataset)
query_entity_linking(topics)

,qid,query,original_query,entities
0,301,International Organized Crime,"{'query_id': '301', 'title': 'International Or...",[]
1,302,Poliomyelitis and Post-Polio,"{'query_id': '302', 'title': 'Poliomyelitis an...",[]
2,303,Hubble Telescope Achievements,"{'query_id': '303', 'title': 'Hubble Telescope...",[]
3,304,Endangered Species (Mammals),"{'query_id': '304', 'title': 'Endangered Speci...",[]
4,305,Most Dangerous Vehicles,"{'query_id': '305', 'title': 'Most Dangerous V...",[]
...,...,...,...,...
245,696,safety plastic surgery,"{'query_id': '696', 'title': 'safety plastic s...","[{'begin': 7, 'end': 22, 'mention': 'plastic s..."
246,697,air traffic controller,"{'query_id': '697', 'title': 'air traffic cont...","[{'begin': 0, 'end': 22, 'mention': 'air traff..."
247,698,literacy rates Africa,"{'query_id': '698', 'title': 'literacy rates A...","[{'begin': 0, 'end': 8, 'mention': 'literacy',..."
248,699,term limits,"{'query_id': '699', 'title': 'term limits', 'd...","[{'begin': 0, 'end': 4, 'mention': 'term', 'ur..."
249,700,gasoline tax U.S.,"{'query_id': '700', 'title': 'gasoline tax U.S...","[{'begin': 0, 'end': 8, 'mention': 'gasoline',..."

In [5]:
query_entity_linking(topics).iloc[247].to_dict()

{'qid': '698',
 'query': 'literacy rates Africa',
 'original_query': {'query_id': '698',
  'title': 'literacy rates Africa',
  'description': 'What are literacy rates in African countries?',
  'narrative': 'A relevant document will contain information about the\nliteracy rate in an African country.\nGeneral education levels that do not specifically include literacy rates\nare not relevant.'},
 'entities': [{'begin': 0,
   'end': 8,
   'mention': 'literacy',
   'url': 'https://en.wikipedia.org/wiki/Literacy',
   'score': 0.710061993323795},
  {'begin': 0,
   'end': 14,
   'mention': 'literacy rates',
   'url': 'https://en.wikipedia.org/wiki/List_of_countries_by_literacy_rate',
   'score': 0.09090909090909001},
  {'begin': 9,
   'end': 14,
   'mention': 'rates',
   'url': 'https://en.wikipedia.org/wiki/Rates_(PÃ³voa_de_Varzim)',
   'score': 0.012711864406779001}]}

In [6]:
query_entity_linking(topics).iloc[249].to_dict()

{'qid': '700',
 'query': 'gasoline tax U.S.',
 'original_query': {'query_id': '700',
  'title': 'gasoline tax U.S.',
  'description': 'What are the arguments for and against an increase in gasoline\ntaxes in the U.S.?',
  'narrative': 'Relevant documents present reasons for or against raising gasoline taxes\nin the U.S.  Documents discussing rises or decreases in the price of\ngasoline are not relevant.'},
 'entities': [{'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline',
   'score': 0.838221076377699},
  {'begin': 0,
   'end': 12,
   'mention': 'gasoline tax',
   'url': 'https://en.wikipedia.org/wiki/Fuel_tax',
   'score': 0.106382978723404},
  {'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline_(Theory_of_a_Deadman_album)',
   'score': 0.014502094747019},
  {'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline_(Seether_song)',
   'score': 0.004834031582339001},
  {'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline_(film)',
   'score': 0.004834031582339001},
  {'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline_(Halsey_song)',
   'score': 0.003222687721559},
  {'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline_(band)',
   'score': 0.002255881405091},
  {'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline_(1913_song)',
   'score': 0.0006445375443119562},
  {'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline_(the_Hard_Lessons_album)',
   'score': 0.0006445375443119562},
  {'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline_(magazine)',
   'score': 0.0003222687721559781},
  {'begin': 0,
   'end': 8,
   'mention': 'gasoline',
   'url': 'https://en.wikipedia.org/wiki/Gasoline,_Texas',
   'score': 0.0003222687721559781}]}

# Query Interpretation

In [7]:
query_interpretation = tira.pt.transform_queries('ir-benchmarks/marcel-gohsen/query-interpretation', dataset)
query_interpretation(topics)

Download from the Incubator: https://files.webis.de/data-in-production/data-research/tira-zenodo-dump-preparation/query-processors-in-progress/marcel-gohsen-query-interpretation-trec-core.zip
	This is only used for last spot checks before archival to Zenodo.

Download: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 98.5k/98.5k [00:00<00:00, 1.92MiB/s]

Download finished. Extract...
Extraction finished:  /root/.tira/extracted_runs/ir-benchmarks/disks45-nocr-trec-robust-2004-20230209-training/marcel-gohsen

,qid,query,original_query,interpretations
0,301,International Organized Crime,"{'query_id': '301', 'title': 'International Or...","[{'id': 0, 'interpretation': ['international',..."
1,302,Poliomyelitis and Post-Polio,"{'query_id': '302', 'title': 'Poliomyelitis an...","[{'id': 0, 'interpretation': ['https://en.wiki..."
2,303,Hubble Telescope Achievements,"{'query_id': '303', 'title': 'Hubble Telescope...","[{'id': 0, 'interpretation': ['https://en.wiki..."
3,304,Endangered Species (Mammals),"{'query_id': '304', 'title': 'Endangered Speci...","[{'id': 0, 'interpretation': ['https://en.wiki..."
4,305,Most Dangerous Vehicles,"{'query_id': '305', 'title': 'Most Dangerous V...","[{'id': 0, 'interpretation': ['most dangerous'..."
...,...,...,...,...
245,696,safety plastic surgery,"{'query_id': '696', 'title': 'safety plastic s...","[{'id': 0, 'interpretation': ['safety', 'https..."
246,697,air traffic controller,"{'query_id': '697', 'title': 'air traffic cont...","[{'id': 0, 'interpretation': ['https://en.wiki..."
247,698,literacy rates Africa,"{'query_id': '698', 'title': 'literacy rates A...","[{'id': 0, 'interpretation': ['literacy rates'..."
248,699,term limits,"{'query_id': '699', 'title': 'term limits', 'd...","[{'id': 0, 'interpretation': ['https://en.wiki..."
249,700,gasoline tax U.S.,"{'query_id': '700', 'title': 'gasoline tax U.S...","[{'id': 0, 'interpretation': ['https://en.wiki..."

In [8]:
query_interpretation(topics).iloc[247].to_dict()

{'qid': '698',
 'query': 'literacy rates Africa',
 'original_query': {'query_id': '698',
  'title': 'literacy rates Africa',
  'description': 'What are literacy rates in African countries?',
  'narrative': 'A relevant document will contain information about the\nliteracy rate in an African country.\nGeneral education levels that do not specifically include literacy rates\nare not relevant.'},
 'interpretations': [{'id': 0,
   'interpretation': ['literacy rates',
    'https://en.wikipedia.org/wiki/Africa'],
   'relevance': 1.017462925635508,
   'containedEntities': ['https://en.wikipedia.org/wiki/Africa'],
   'contextWords': ['literacy', 'rates'],
   'score': 1.017462925635508},
  {'id': 0,
   'interpretation': ['https://en.wikipedia.org/wiki/List_of_countries_by_literacy_rate',
    'https://en.wikipedia.org/wiki/Africa'],
   'relevance': 0.710923257536899,
   'containedEntities': ['https://en.wikipedia.org/wiki/List_of_countries_by_literacy_rate',
    'https://en.wikipedia.org/wiki/Africa'],
   'contextWords': [],
   'score': 0.710923257536899},
  {'id': 0,
   'interpretation': ['https://en.wikipedia.org/wiki/List_of_countries_by_literacy_rate',
    'africa'],
   'relevance': 0.6129202512020191,
   'containedEntities': ['https://en.wikipedia.org/wiki/List_of_countries_by_literacy_rate'],
   'contextWords': ['africa'],
   'score': 0.6129202512020191}]}

In [9]:
query_interpretation(topics).iloc[249].to_dict()

{'qid': '700',
 'query': 'gasoline tax U.S.',
 'original_query': {'query_id': '700',
  'title': 'gasoline tax U.S.',
  'description': 'What are the arguments for and against an increase in gasoline\ntaxes in the U.S.?',
  'narrative': 'Relevant documents present reasons for or against raising gasoline taxes\nin the U.S.  Documents discussing rises or decreases in the price of\ngasoline are not relevant.'},
 'interpretations': [{'id': 0,
   'interpretation': ['https://en.wikipedia.org/wiki/Fuel_tax', 'u.s.'],
   'relevance': 0.106382978723404,
   'containedEntities': ['https://en.wikipedia.org/wiki/Fuel_tax'],
   'contextWords': ['u.s.'],
   'score': 0.106382978723404}]}