# Research Oriented Tutorial: Query Segmentation

In [1]:
from tira.third_party_integrations import ensure_pyterrier_is_loaded
from tira.rest_api_client import Client

import pyterrier as pt

ensure_pyterrier_is_loaded()
tira = Client()

Start PyTerrier with version=5.7, helper_version=0.0.7, no_download=True

PyTerrier 0.9.2 has loaded Terrier 5.7 (built by craigm on 2022-11-10 18:30) and terrier-helper 0.0.7

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

No settings given in /root/.tira/.tira-settings.json. I will use defaults.

In [ ]:
# This is only needed in Google Colab, in the dev container, everything should be installed already
!pip3 install tira trectools python-terrier

In [4]:
dataset = pt.get_dataset("irds:disks45/nocr/trec-robust-2004")
topics = dataset.get_topics(variant='title')
topics.head(3)

   qid                          query
0  301  international organized crime
1  302   poliomyelitis and post polio
2  303  hubble telescope achievements

In [8]:
query_health_classification = tira.pt.transform_queries('ir-benchmarks/ows/query-segmentation-wt-snp', dataset)
query_health_classification(topics).head(3)

,qid,query,originalQuery,segmentationApproach,segmentation
0,301,international organized crime,International Organized Crime,wt-snp-baseline,[international organized crime]
1,302,poliomyelitis and post polio,Poliomyelitis and Post-Polio,wt-snp-baseline,"[poliomyelitis, and, post-polio]"
2,303,hubble telescope achievements,Hubble Telescope Achievements,wt-snp-baseline,[hubble telescope achievements]

In [9]:
query_health_classification = tira.pt.transform_queries('ir-benchmarks/ows/query-segmentation-hyb-a', dataset)
query_health_classification(topics).head(3)

,qid,query,originalQuery,segmentationApproach,segmentation
0,301,international organized crime,International Organized Crime,hyb-a,"[international, organized crime]"
1,302,poliomyelitis and post polio,Poliomyelitis and Post-Polio,hyb-a,"[poliomyelitis, and, post-polio]"
2,303,hubble telescope achievements,Hubble Telescope Achievements,hyb-a,"[hubble telescope, achievements]"

In [10]:
query_health_classification = tira.pt.transform_queries('ir-benchmarks/ows/query-segmentation-hyb-b', dataset)
query_health_classification(topics).head(3)

,qid,query,originalQuery,segmentationApproach,segmentation
0,301,international organized crime,International Organized Crime,hyb-b,"[international, organized, crime]"
1,302,poliomyelitis and post polio,Poliomyelitis and Post-Polio,hyb-b,"[poliomyelitis, and, post-polio]"
2,303,hubble telescope achievements,Hubble Telescope Achievements,hyb-b,"[hubble, telescope, achievements]"

In [11]:
query_health_classification = tira.pt.transform_queries('ir-benchmarks/ows/query-segmentation-hyb-i', dataset)
query_health_classification(topics).head(3)

,qid,query,originalQuery,segmentationApproach,segmentation
0,301,international organized crime,International Organized Crime,hyb-i,"[international, organized, crime]"
1,302,poliomyelitis and post polio,Poliomyelitis and Post-Polio,hyb-i,"[poliomyelitis, and post-polio]"
2,303,hubble telescope achievements,Hubble Telescope Achievements,hyb-i,"[hubble, telescope, achievements]"

In [12]:
query_health_classification = tira.pt.transform_queries('ir-benchmarks/ows/query-segmentation-wiki', dataset)
query_health_classification(topics).head(3)

,qid,query,originalQuery,segmentationApproach,segmentation
0,301,international organized crime,International Organized Crime,wiki-based,"[international, organized crime]"
1,302,poliomyelitis and post polio,Poliomyelitis and Post-Polio,wiki-based,"[poliomyelitis, and post-polio]"
2,303,hubble telescope achievements,Hubble Telescope Achievements,wiki-based,"[hubble telescope, achievements]"

In [13]:
query_health_classification = tira.pt.transform_queries('ir-benchmarks/ows/query-segmentation-naive', dataset)
query_health_classification(topics).head(3)

,qid,query,originalQuery,segmentationApproach,segmentation
0,301,international organized crime,International Organized Crime,naive,"[international, organized crime]"
1,302,poliomyelitis and post polio,Poliomyelitis and Post-Polio,naive,"[poliomyelitis, and post-polio]"
2,303,hubble telescope achievements,Hubble Telescope Achievements,naive,"[hubble telescope, achievements]"