# IR Lab Tutorial: PyTerrier Artifacts

This tutorial shows how to use [PyTerrier Artifacts](https://dl.acm.org/doi/abs/10.1145/3726302.3730147). The idea of using artifacts it to simplify experiments and to improve reproducibility.

In the following, we will some artifacts for the [2025 IR lab in the courses of Jena, Kassel, and Radboud](https://archive.tira.io/task-overview/ir-lab-wise-2025) that we aim to encourage in the [2026 edition of the WOWS workshop](https://github.com/OpenWebSearch/wows-code/tree/main/ecir26) at [ECIR 2026](https://ecir2026.eu/).

## Preparation: Install dependencies

In [ ]:
!pip3 install 'python-terrier>=1.0' 'tira>=0.0.189'

## Our Scenario

We want to simplify the access to some Artifacts. We basically aim to allow simple comparisons against other approaches by directly loading runs (having the run allows statistical comparisons against strong baselines) and prepared indexes.

An complete overview (currently in alpha) of PyTerrier Artifacts available in TIRA is available at: [tira.io/tirex/pyterrier-artifacts-beta?query=ir-lab-wise-2025](https://www.tira.io/tirex/pyterrier-artifacts-beta?query=ir-lab-wise-2025)

In [2]:
import pyterrier as pt
from tira.third_party_integrations import ensure_pyterrier_is_loaded

dataset_id = 'radboud-validation-20251114-training'
ensure_pyterrier_is_loaded(is_offline=False)
pt_dataset = pt.datasets.get_dataset(f"irds:ir-lab-wise-2025/{dataset_id}")

## Usage of Artifacts for Comparisons Against Baselines

First, we load some runs as baselines for comparison

In [3]:
chatnoir_bm25 = pt.Artifact.from_url(f"tira:{dataset_id}/ows/chatnoir-title-bm25-100")
chatnoir_default = pt.Artifact.from_url(f"tira:{dataset_id}/ows/chatnoir-title-default-10")
pyterrier_bm25 = pt.Artifact.from_url(f"tira:{dataset_id}/ows/pyterrier-BM25-on-default")
pyterrier_dirichlet = pt.Artifact.from_url(f"tira:{dataset_id}/ows/pyterrier-DirichletLM-on-default")

In [4]:
pt.Experiment(
    [chatnoir_bm25, chatnoir_default, pyterrier_bm25, pyterrier_dirichlet],
    pt_dataset.get_topics("title"),
    pt_dataset.get_qrels(),
    ["ndcg_cut.10"],
    ["ChatNoir (BM25)", "ChatNoir (Default)", "PyTerrier (BM25)", "PyTerrier (DirichletLM)"]
)

                      name  ndcg_cut.10
0          ChatNoir (BM25)     0.241840
1       ChatNoir (Default)     0.398346
2         PyTerrier (BM25)     0.451635
3  PyTerrier (DirichletLM)     0.352952

## Usage of Artifacts for Simplified Development

In the following, we will load an PyTerrier Index via the Artifacts API from TIRA. On the dataset that we use, creating an PyTerrier index takes ca. 30 minutes, so directly loading the index can simplify development.

In [5]:
index = pt.Artifact.from_url(f"tira:{dataset_id}/ows/pyterrier-index-default")

bm25 = pt.terrier.Retriever(index, wmodel="BM25")
pl2 = pt.terrier.Retriever(index, wmodel="PL2")

In [6]:
# We can search using the retrieval models

bm25.search("hello world")

,qid,docid,docno,rank,score,query
0,1,58297,ff61c79730075baec10b3b8e2f2cf7413622bd71ad1348...,0,15.489635,hello world
1,1,549,3d718d3f98f07f417d5e96489b46e0746f48e3d00bafa8...,1,15.267601,hello world
2,1,61341,0785a1552acd9e2d7a712985337a481544b153d6366640...,2,15.262821,hello world
3,1,60817,d672e42da4973ebb321d7cfc5c06e360f53f9b28e81b8b...,3,15.157820,hello world
4,1,39978,6170c975641ffdda55a1ca3f9e57ecee8213556fa7058b...,4,15.100269,hello world
...,...,...,...,...,...,...
995,1,5659,37ad35681c303665a4b331bf2dd2f53a177213242d9e25...,995,4.193964,hello world
996,1,58137,1d96960b1fac1bf2aebcbc632357452d2b8126d8672148...,996,4.164030,hello world
997,1,48703,0c796d7170dc89a1f7683bde5e33dea28fd0db8b3bd451...,997,3.898465,hello world
998,1,58648,5ddf8565fe542dce29aa74ef40ff2f78a990a232794233...,998,3.898365,hello world
999,1,60221,27cc304d3f6f8eef7a94dd2435ffa116d03c76d932c3b4...,999,3.898365,hello world

In [7]:
pt.Experiment(
    [bm25, pl2],
    pt_dataset.get_topics("title"),
    pt_dataset.get_qrels(),
    ["ndcg_cut.10"]
)

                name  ndcg_cut.10
0  TerrierRetr(BM25)     0.451635
1   TerrierRetr(PL2)     0.472690